<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm registration</title>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }
        .main {
            margin: auto;
            width: 80%;
            border: 3px solid green;
            padding: 0.5em;
            text-align: center;
        }
        .text-box {
            padding: 0.5em;
            color: #2c3e50;
        }
        .title {
            font-size: 2em;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="title text-box">Email confirmation required</div>
        <div class="content text-box">
            <div>Please click link below to verify your email:</div>
            <div>
                <a th:href="${#redirect}">
                    VERIFY
                </a>
            </div>
        </div>
    </div>
</body>
</html>